extends layout

block content
	h1= title
	p GBA game list
	ul
		li
			span.item
				a(href='/file?game=YggdraUnion', title='Yggdra Union') Yggdra Union
			span.item
				a(href='/strategy?game=YggdraUnion', title='strategy') Strategy
