extends layout

block content
	h1= title
	p GBA game list
	ul
		li
			span.item
				a(href='/file/YggdraUnion.gba', title='Yggdra Union') Yggdra Union
			span.item
				a(href='/strategy/YggdraUnion', title='strategy') Strategy
			span.item
				a(href='http://tieba.baidu.com/p/364934558?fr=good', title='max turns') Max turns
